*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
main{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-image: url(../images/wall.png);
}

.menu{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 5rem;
  align-items: center;
  background-color: #000000;
  color: white;
  border-bottom: 5px solid #ffd700;
}
.tittle{
  margin-bottom: 1rem;
  
}

.lifes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.painel{
  display: flex;
  height: 31.25rem;
  width: 100vw;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}


.square{
  height: 9.375rem;
  width: 9.375rem;
  border: 1px solid #000000;
  background-color: #1bf3ab;
}
.enemy{
  background-image: url(../images/ralph.png);
  background-size: cover;
  background-position: center;


}

/* media queries */

@media(max-width: 320px){
  .menu{
    height: 6.2rem;
  }

  .tittle{
    font-size: 20px;
    margin-top: 1rem;
  }

  .painel{
    width: 100vw;
    height: 100vh;
  }

  .square{
    width: 6.25rem;
    height: 6.25rem;
  }
}

@media(max-width: 375px){
  .menu{
    height: 6.2rem;
  }

  .tittle{
    font-size: 20px;
    margin-top: 1rem;
  }

  .painel{
    width: 100vw;
    height: 100vh;
  }

  .square{
    width: 7.5rem;
    height: 7.5rem;
  }
}
@media(max-width: 425px){
  .menu{
    height: 6.2rem;
  }

  .tittle{
    font-size: 20px;
    margin-top: 1rem;
  }

  .painel{
    width: 100vw;
    height: 100vh;
  }

  .square{
    width: 8.5rem;
    height: 8.5rem;
  }
} 